---
title: Publications
layout: single
permalink: /publications/
collection: publications
---

{% assign pubs = site.publications | sort: 'year' | reverse %}
{% assign grouped_pubs = pubs | group_by: 'year' %}

{% for group in grouped_pubs %}
  <h2>{{ group.name }}</h2>
    {% for pub in group.items %}
      {% if pub.custom_url %}
        <a class="publication-title" href="{{ pub.custom_url }}">{{ pub.title }}</a><br>
      {% else %}
          <a class="publication-title" href="{{ pub.url | relative_url }}">{{ pub.title }}</a><br>
      {% endif %}
      {% include publication_entry.html page=pub %}
    {% endfor %}
{% endfor %}
