<div class="author-profile">
  {%- if site.author.avatar -%}
  <div class="author-avatar">
    <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}" class="author-avatar__img">
  </div>
  {%- endif -%}

  <div class="author-content">
    <h3 class="author-name">{{ site.author.name }}</h3>
    {%- if site.author.bio -%}
    <p class="author-bio">{{ site.author.bio }}</p>
    {%- endif -%}
    {%- if site.author.location -%}
    <p class="author-location"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ site.author.location }}</p>
    {%- endif -%}
  </div>

  {%- if site.author.links -%}
  <ul class="author-links">
    {%- for link in site.author.links -%}
    <li>
      <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
        <i class="{{ link.icon }}" aria-hidden="true"></i>
        <span>{{ link.label }}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
